@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.Navbar {
	width: 100%;
	height: 6rem;
	padding: 2rem 1rem;
	border-bottom: 1px solid var(--blueGrey900);
	@include flex_row(flex-start, center);

	&_list {
		width: 70%;
		height: 100%;
		list-style: none;
		@include flex_row(flex-start, center);
		gap: 0 1rem;

		&_item {
			color: $text1;
			padding: 0.6rem 1.3rem;
			font-size: 2.5rem;
			font-weight: 700;
			text-decoration: none;
			border-radius: 0.5rem;
			font-family: "Space Grotesk";
			@include flex_row(flex-start, center);

			&_icon {
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				fill: $text2;
			}
		}
	}
	&_settings {
		width: 30%;
		height: 100%;
		list-style: none;
		@include flex_row(flex-end, center);

		&_item {
			border-radius: 50%;

			& a {
				width: max-content;
			}

			&_icon {
				@include flex_row(center, center);
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				fill: $text2;
			}
		}
	}
}

.isActive {
	background-color: var(--blueGrey800);
}
