@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.NoDataFound {
	width: max-content;
	height: auto;
	padding: 2rem;
	@include flex_col(center, center);

	&_icon {
		width: 3rem;
		height: 3rem;
		fill: $borderColor;
	}
}
