@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ScoreCard {
	width: 100%;
	height: max-content;
	max-height: auto;
	border-radius: 1rem;
	border: $borderLight;
	padding: 2rem;
	margin: 1rem 0;

	&_top {
		width: 100%;
		@include flex_row(space-between, center);
		margin-bottom: 2rem;

		&_title {
			font-size: 1.6rem;
			&:hover {
				cursor: pointer;
				color: var(--accent-blue);
			}
		}

		&_goTo {
			width: 2.2rem;
			height: 2.2rem;
			border-radius: 50%;
			background-color: var(--blueGrey500);
			border: none;
			outline: none;
			@include rowCenter();

			&_icon {
				width: 2rem;
				height: 2rem;
				fill: #000;
				fill: #fff;
			}
		}
	}
	&_main {
		width: 100%;
		height: auto;
		height: max-content;
		max-height: auto;
		padding-bottom: 2rem;
		@include flex_col(center, center);
		gap: 0 0.5rem;

		&_score {
			@include rowCenter();
			font-size: 3.5rem;
			font-weight: 800;
			color: $text1;
		}
		&_label {
			@include rowCenter();
			font-size: 1.3rem;
			color: $text2;
		}
	}
}

div[data-collapsed="true"] {
	height: 0;
	padding-bottom: 0;
	& > * {
		display: none;
	}
}
