@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MobileCalendarWeekHeader {
	width: 100%;
	height: 5rem;
	border-bottom: $border;
	@include flex_row(center, flex-end);

	&_inner {
		width: 100%;
		max-width: 100%;
		// @include flex_row(flex-start, center);
		@include flex_row(flex-start, center);
	}
}

$daySize: calc(100% / 7);
$dayWidth: clamp(15%, $daySize, 100%);

.DayLabel {
	width: clamp(15%, $daySize, 100%);
	height: 100%;
	padding: 1rem 1rem;

	&_text {
		width: 100%;
		height: 100%;
		@include flex_row(center, center);
		font-size: 1.5rem;
		font-weight: 800;

		& b {
			// color: grey;
		}
	}
}
