@mixin fill_container {
	width: 100%;
	height: 100%;
}

// base flex - display: flex;
@mixin base_flex {
	display: -webkit-box;
	display: flex;
}

// handles flex rows
@mixin flex_row($rowType, $colType, $wrapType: nowrap) {
	@include base_flex;
	flex-direction: row;
	justify-content: $rowType;
	align-items: $colType;
	flex-wrap: $wrapType;
}

// handles flex columns
@mixin flex_col($rowType, $colType, $wrapType: nowrap) {
	@include base_flex;
	flex-direction: column;
	justify-content: $rowType;
	align-items: $colType;
	flex-wrap: $wrapType;
}

@mixin rowCenter($wrapType: nowrap) {
	@include flex_row(center, center, $wrapType);
}
@mixin colCenter($wrapType: nowrap) {
	@include flex_col(center, center, $wrapType);
}

// UI Mixins
@mixin filterBtn() {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	color: $text1;
	background-color: var(--bg200);
	border: $borderLight;
	outline: none;
	@include rowCenter();
	gap: 0 0.3rem;

	&_icon {
		width: 1.4rem;
		height: 1.4rem;
		fill: $text1;
		align-self: center;
	}
}
