$borderColor: var(--border-color);
$border: 1px solid $borderColor;
$accent: var(--accent);
$background: var(--bg-body);
$foreground: var(--bg-foreground);
// Text/Font
$text1: var(--text1); // primary color
$text2: var(--text2); // secondary color
