@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

// STEP COMPONENTS

.PlanTypeStep {
	@include fill_container;
	width: 100%;

	&_options {
		width: 100%;
		@include rowCenter();
		gap: 0 2rem;

		&_type {
			width: 15rem;
			height: 5rem;
			border-radius: 1rem;
			border: $borderLight;
			font-size: 1.6rem;
			color: #fff;
		}
	}
}
.WorkoutTypes {
	@include fill_container;
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(4, 15rem);
	justify-content: center;
	align-items: start;
	gap: 1rem 0.5rem;
}
.WorkoutType {
	width: 15rem;
	height: 5rem;
	padding: 0.5rem 1.2rem;
	border-radius: 1rem;
	border: $border;
	@include rowCenter();
	font-size: 1.4rem;
	&:hover {
		cursor: pointer;
		border-color: var(--accent-purple);
	}
}
.WorkoutWeights {
	width: 100%;
	height: auto;
	border-radius: 1rem;
	@include colCenter();

	&_row {
		@include colCenter();
		margin: 2rem 0;

		&_label {
			font-size: 1.6rem;
		}
	}
}
.TimeStep {
	width: 100%;
	display: block;
	@include colCenter();
	margin-bottom: 4rem;

	&_row {
		width: auto;
		margin: 4rem;
	}
}
.ScheduleWorkoutStep {
	width: 100%;

	&_date {
		width: 100%;
		padding: 0 2rem;
		margin-bottom: 2rem;
	}

	&_row {
		width: 100%;
		padding: 0 2rem;
	}
	&_recurrence {
		width: 100%;
		padding: 0 2rem;
		margin-top: 3rem;

		&_title {
			font-size: 2rem;
			color: $text2;
		}
	}
}

// NAVIGATION & LAYOUT
.StepFooter {
	@include fill_container;
	@include flex_row(space-between, center);
}
@mixin navBtn() {
	padding: 0.8rem 1.6rem;
	border-radius: 1rem;
	background-color: var(--blueGrey800);
	color: #fff;
	border: none;
	outline: none;
	font-size: 1.6rem;
	@include rowCenter();
	gap: 0 0.5rem;
	cursor: pointer;

	&_icon {
		width: 1.6rem;
		height: 1.6rem;
		fill: #fff;
	}

	&:disabled {
		opacity: 0.3;
		cursor: not-allowed;
	}
}

.NavButton {
	@include navBtn();
}
.BackButton {
	@include navBtn();
	margin-right: auto;
}
.NextButton {
	@include navBtn();
	margin-left: auto;
}

@media only screen and (max-width: 800px) {
	.WorkoutTypes {
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		place-items: center;
	}
}
