@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.LogWeightedView {
	width: 100%;
	padding-top: 4rem;
	@include colCenter();

	&_row {
		width: 100%;
		margin: 2rem 0;
		@include colCenter();

		&_label {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
	}
}
