@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

$shadow: rgba(0, 0, 0, 0.25);

.DashboardWorkoutHistory {
	width: 100%;
	height: 100%;

	&_filters {
		width: 100%;
		position: sticky;
	}
	&_list {
		width: 100%;
		max-width: 80rem;
		// height: calc(100dvh - 20rem);
		display: block;
		margin: 2rem auto;
		overflow-y: scroll;
		@include scrollbar();

		&_items {
			@include fill_container;
			@include flex_col(flex-start, flex-start);
			gap: 1rem;
		}
	}
}

@media only screen and (max-width: 800px) {
	.DashboardWorkoutHistory {
		width: 100%;

		&_list {
			width: 100%;
			padding: 0 2rem;
			height: calc(100dvh - 22rem);
		}
	}
}
