@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.DashboardWorkoutWeek {
	width: 100%;

	&_title {
		width: 100%;

		font-size: 1.6rem;
	}

	&_summary {
		display: block;
		margin: 0 auto;
		width: 80%;
		height: 2rem;
		padding: 2rem;
		border-radius: 1rem;
	}

	&_list {
		width: 100%;
		max-width: 100%;
		height: 70dvh;
		// border: 1px solid red;
		padding: 2rem;
	}
}
