@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.PageNotFound {
	@include fill_container;
	padding: 4rem;
	@include colCenter();

	& h1 {
		font-size: 4rem;
		color: $accent;
	}
}
